<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <nav class="navbar navbar-dark navbar-expand-sm text-white" style="background-color:black">
        <div class="container">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="mainNav">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">HOME</a>
                    <a class="nav-item nav-link" href="#">ABOUT</a>
                    <a class="nav-item nav-link" href="#">CAR COMPARISON</a>
                    <a class="nav-item nav-link" href="#">SEARCH BY MAKER</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid jumbo-no-mar">
        <img src="../img/index-cover.jpg" alt="">

        <div class="container text-white">

            <h1 class="display-4">LOREM WEBSITE</h1>
            <p class="lead">Platform to check out the specification for different brands of car, from affordable to luxury.</p>
            <hr class="my-4">
            <p>Click the CAR COMPARISON tab or scroll down to learn more.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">About us</a>
        
          </div>
    </div>

    <div class="jumbotron jumbotron-fluid jumbo-no-mar bg-light">
        <div class="container">
            <h2 class="display-5 text-left text-primary">SELECT CAR BY SEARCHING MODEL</h2>
            <br>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <h2 class="display-5 text-left py-5 text-primary">SELECT CAR BY MAKER</h2>

            <!-- Cards for car brands-->
            <div class="row">
                <div class="col-4 col-sm-2"><a href="#" class="effect-shine no-link">Acura</a></div>
                <div class="col-4 col-sm-2"><a href="#" class="effect-shine no-link">Alfa Romeo</a></div>
                <div class="col-4 col-sm-2"><a href="#" class="effect-shine no-link">Aston Martin</a></div>
                <div class="col-4 col-sm-2"><a href="#" class="effect-shine no-link">Audi</a></div>
                <div class="col-4 col-sm-2"><a href="#" class="effect-shine no-link">Bentley</a></div>
                <div class="col-4 col-sm-2"><a href="#" class="effect-shine no-link">BMW</a></div>
                <div class="col-4 col-sm-2"><a href="#" class="effect-shine no-link">Bugatti</a></div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small text-white bg-dark">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> desmond.com</a>
        </div>
        <!-- Copyright -->
      
    </footer>
    <!-- Footer -->


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
  </body>
</html>